#pluginmarket_galery_view {
    max-height: 500px;
    overflow: auto;
}
.pluginmarket_galery {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.pluginmarket_galery > .image {
    padding: 5px;
    border: 5px solid #eeeeee;
    margin: 5px;
}
.pluginmarket_galery > .image img {
    display: block;
    max-height: 180px;
}
.pluginmarket_galery > .image input[type=checkbox] {
    display: none;
}
.pluginmarket_galery > .image input[type=checkbox]:checked + * {
    opacity: 0.2;
}

.plugins_shortview {
    list-style-type: none;
    text-align: center;
}
.plugins_shortview > article {
    display: inline-block;
    margin: 7px;
    padding: 8px;
    background-color: #3c454e;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    color: white;
    width: 250px;
    height: 260px;
    max-width: 250px;
    max-height: 260px;
    overflow: hidden;
    -webkit-animation: scaling 700ms ease-out;
    -ms-animation: scaling 700ms ease-out;
    animation: scaling 700ms ease-out;
}
.plugins_shortview > article .headerimagedescription {
    max-height: 250px;
    overflow: hidden;
}
.plugins_shortview > article h1 {
    margin: 0px;
    border: none;
    color: white;
}
.plugins_shortview > article h1 > a, .plugins_shortview > article > h1 > a:hover {
    color: white;
}
.plugins_shortview > article .image {
    margin: 4px;
    margin-left: -4px;
    margin-right: -4px;
    width: calc(100% + 8px);
    height: 150px;
    background-position: center center;
    background-size: auto calc(100% - 6px);
    background-repeat: no-repeat;
    background-color: white;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.3);
}
.plugins_shortview > article .shortdescription {
    font-size: 0.9em;
    color: #879199;
    height: 70px;
    /*max-height: 70px; */
    overflow: hidden;
    margin-bottom: 0px;
}
.plugins_shortview > article .tags a {
    color: white;
    opacity: 0.8;
}
.plugins_shortview > article .tags a:hover {
    opacity: 1;
}


@keyframes scaling {
    from {
        opacity: 0.8;
        transform: scale(0.8,0.8) rotate(-3deg);
    }
    to {
        opacity: 1;
        transform: scale(1,1) rotate(0deg);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes scaling {
    from {
        opacity: 0.8;
        transform: scale(0.8,0.8) rotate(-3deg);
    }
    to {
        opacity: 1;
        transform: scale(1,1) rotate(0deg);
    }
}

/* Internet Explorer */
@-ms-keyframes scaling {
    from {
        opacity: 0.8;
        transform: scale(0.8,0.8) rotate(-3deg);
    }
    to {
        opacity: 1;
        transform: scale(1,1) rotate(0deg);
    }
}

/* Opera < 12.1 */
@-o-keyframes scaling {
    from {
        opacity: 0.8;
        transform: scale(0.8,0.8) rotate(-3deg);
    }
    to {
        opacity: 1;
        transform: scale(1,1) rotate(0deg);
    }
}

#tagcloud td {
    transition: font-size 0.5s;
}
#tagcloud td:hover {
    font-size: 1.2em;
    transition: font-size 0.5s;
}